.cta {
  padding: 23px 38px;
  background-color: var(--brown);
  border-radius: 10px;
  color: var(--gray-100);
  text-transform: uppercase;
  font-family: 'Roboto', sans-serif;
  width: 100%;
  max-width: 400px;
  margin: 0 auto;
  font-size: 22px;
  font-weight: bold;
}
